<header id="header-general">
  <div class="fluid-container">
    <div class="hidden-xs">
        <div class="imgParallax {{selectedPage}}">

          <div class="txtParallax logo page-header">
            <a ui-sref="home">
              <img src="../../assets/img/logo_VA_blanc.png" alt="">
              <h1>VINTAGE ADDICTION</h1>
            </a>
          </div>
        </div>
      </div>
  </div>
