
	

	
		<div class="animated infinite ">
				<img src="../../assets/img/logo_VA_blanc.png" alt="">
				<h1>VINTAGE ADDICTION</h1>
				<div><img src="../../assets/img/icons/ball-triangle.svg" width="50" alt=""></div>
		</div>
