<div class="social">
    <a target="_blank" href="http://www.instagram.com/va_vintageaddiction/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a target="_blank" href="http://www.facebook.com/VintageAddictionCrew"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a target="_blank" href="http://www.youtube.com/channel/UCFhpDFPHvj0e_aw6FvLMbBg"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a target="_blank" href="http://www.vimeo.com/user30355839"> <i class="fa fa-vimeo" aria-hidden="true"></i></a>
    <a target="_blank" href="http://www.vavintageaddictioncrew.tumblr.com"> <i class="fa fa-tumblr" aria-hidden="true"></i></a>
</div>
