<div ng-controler="topTopCtrl">

    <div id="back-to-top" class="btn btn-lg" href="#" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" ng-click="goTop()">
      <span  class="glyphicon glyphicon-chevron-up"></span>
    </div>
</div>
