
  <!-- Navigation -->
     <nav id="nav-general" class="navbar navbar-inverse navbar-static-top " role="navigation">
         <div class="container">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand visible-xs" ui-sref="home">Vintage <i class="llamp"></i>Addiction</a>
             </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav">
                     <li class="col-20" ng-class="{active:selectedPage=='bikes'}">
                         <a ui-sref="home.bikes">BIKES</a>
                     </li>
                     <li class="col-20" ng-class="{active:selectedPage=='cars'}">
                         <a ui-sref="home.cars">CARS</a>
                     </li>
                     <li class="col-20" ng-class="{active:selectedPage=='media'}">
                         <a ui-sref="home.media">MEDIA</a>
                     </li>

                     <li class="col-20" ng-class="{active:selectedPage=='contact'}">
                         <a ui-sref="home.contact" id="contactLink">CONTACT</a>
                     </li>
                 </ul>
             </div>
             <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
     </nav>
