


    <section class="sectionTitle llamp"><social class="hidden-xs"></social>
      <h2 class="wow flash">BIKES</h2>
    </section>



    <section class="container ">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">



          <div class="grid row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 thumbBox wow fadeInUp" ng-repeat="bike in bikes | orderBy: '_id'">
              <a ui-sref="home.bike({id:bike._id})">
                <img ng-src={{bike.thumb}} class="img-responsive img-thumbnail center-block" alt="{{bike.manufacturer}} {{bike.model}}">
                <h3>{{bike.manufacturer}} {{bike.model}}</h3>
              </a>
            </div>


        </div>
      </div>
    </section>
