<section class="sectionTitle llamp"><social class="hidden-xs"></social>
  <h2 id="bikeTitle" class="wow flash">{{bike.manufacturer}} {{bike.model}}</h2>
</section>

<section class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">

      <div class="row">
        <ng-gallery images="bike.imgs">  </ng-gallery>
      </div>


      <section class="row">
        <div class="col-xs-12  col-lg-12">
          <div class="page-header">
          </div>
        </div>
      </section>
      <section class="row">
        <!-- Left Column -->
        <div class="left-col-model col-xs-12 col-sm-6  col-md-6  col-lg-5">
          <p ng-if="bike.make"><label>make · </label>{{bike.make}}</p>
          <p ng-if="bike.creator"><label>creator · </label>{{bike.creator}}</p>
          <p class="invisible"><label>INVISIBLE</label></p>
          <header>Donor</header>
          <p ng-if="bike.manufacturer"><label>manufacturer · </label>{{bike.manufacturer}}</p>
          <p ng-if="bike.model"><label>model · </label>{{bike.model}}</p>
          <p ng-if="bike.year_of_build"><label>year of build · </label>{{bike.year_of_build}}</p>


        </div>
        <!-- Right Column -->
        <div class="right-col-model col-xs-12 col-sm-6  col-md-6 col-lg-offset-1 col-lg-6">
          <header>REBUILD</header>
          <p ng-if="bike.category"><label>bike category/Gene · </label>{{bike.category}}</p>
          <p ng-if="bike.year_of_rebuild"><label>year of rebuild · </label>{{bike.year_of_rebuild}}</p>
          <p ng-if="bike.frame_mods"><label>Frame/Modifications · </label>{{bike.frame_mods}}</p>
          <p ng-if="bike.body_work"><label>Body Work · </label>{{bike.body_work}}</p>
          <p ng-if="bike.motor"><label>Motor · </label>{{bike.motor}}</p>
          <p ng-if="bike.gas_tank"><label>Gas Tank · </label>{{bike.gas_tank}}</p>
          <p ng-if="bike.exhaust"><label>Exhaust · </label>{{bike.exhaust}}</p>
          <p ng-if="bike.forks"><label>Front Suspensions/Fork · </label>{{bike.forks}}</p>
          <p ng-if="bike.shoks"><label>Rear Suspensions/Shoks · </label>{{bike.shoks}}</p>
          <p ng-if="bike.wheels"><label>Tire/Wheels · </label>{{bike.wheels}}</p>
          <p ng-if="bike.brakes"><label>Brakes · </label>{{bike.brakes}}</p>
          <p ng-if="bike.hand_controls"><label>Hand Controls · </label>{{bike.hand_controls}}</p>
          <p ng-if="bike.paint"><label>Paint · </label>{{bike.paint}}</p>
        </div>
      </section>

      <section class="row"  ng-if="bike.description">
        <div class="col-xs-12">
          <br>
          <br>
          <br>
          <header id="header_desc">
            Description
          </header>
          <p class="description">{{bike.description }}</p>
        </div>
      </section>
    </div>
  </div>
</section>  <!-- /Container -->
