<section class="sectionTitle llamp"><social class="hidden-xs"></social>
   <h2 id="carTitle" class="wow flash">{{car.manufacturer}} {{car.model}}</h2>
</section>


<section class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">

      <div class="row">
        <ng-gallery images="car.imgs">  </ng-gallery>
      </div>


      <section class="row">
        <div class="col-xs-12">
          <div class="page-header">
          </div>
        </div>
      </section>
      <section class="row">
        <!-- Left Column -->
        <div class="left-col-model col-xs-12 col-sm-6  col-md-6 col-lg-5">
          <p ng-if="car.make"><label>make · </label>{{car.make}}</p>
          <p ng-if="car.creator"><label>creator · </label>{{car.creator}}</p>
          <p class="invisible"><label>INVISIBLE</label></p>
          <header>Donor</header>
          <p ng-if="car.manufacturer"><label>manufacturer · </label>{{car.manufacturer}}</p>
          <p ng-if="car.model"><label>model · </label>{{car.model}}</p>
          <p ng-if="car.year_of_build"><label>year of build · </label>{{car.year_of_build}}</p>



        </div>
        <!-- Right Column -->
        <div class="right-col-model col-xs-12 col-sm-6  col-md-6 col-lg-offset-1 col-lg-6">
          <header>REBUILD</header>
          <p ng-if="car.category"><label>car category/Gene · </label>{{car.category}}</p>
          <p ng-if="car.year_of_rebuild"><label>year of rebuild · </label>{{car.year_of_rebuild}}</p>
          <p ng-if="car.frame_mods"><label>Frame/Modifications · </label>{{car.frame_mods}}</p>
          <p ng-if="car.body_work"><label>Body Work · </label>{{car.body_work}}</p>
          <p ng-if="car.motor"><label>Motor · </label>{{car.motor}}</p>
          <p ng-if="car.exhaust"><label>Exhaust · </label>{{car.exhaust}}</p>
          <p ng-if="car.forks"><label>Front Suspensions/Fork · </label>{{car.forks}}</p>
          <p ng-if="car.shoks"><label>Rear Suspensions/Shoks · </label>{{car.shoks}}</p>
          <p ng-if="car.wheels"><label>Tire/Wheels · </label>{{car.wheels}}</p>
          <p ng-if="car.brakes"><label>Brakes · </label>{{car.brakes}}</p>
          <p ng-if="car.hand_controls"><label>Hand Controls · </label>{{car.hand_controls}}</p>
          <p ng-if="car.paint"><label>Paint · </label>{{car.paint}}</p>
        </div>
      </section>

      <section class="row" ng-if="car.description">
        <div class="col-xs-12">
          <br>
          <br>
          <br>
          <header id="header_desc">
            Description
          </header>
          <p class="description">{{car.description }}</p>
        </div>
      </section>
    </div>
  </div>
</section>  <!-- /Container -->
