


    <section class="sectionTitle llamp"><social class="hidden-xs"></social>
      <h2 class="wow flash">CARS</h2>
    </section>



    <section class="container ">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">



          <div class="grid row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 thumbBox wow fadeInUp" ng-repeat=" car in cars | orderBy: '-_id' ">
              <a ui-sref="home.car({id:car._id})">
                <img ng-src={{car.thumb}} class="img-responsive img-thumbnail center-block" alt="{{car.manufacturer}} {{car.model}}">
                <h3>{{car.manufacturer}} {{car.model}}</h3>
              </a>
            </div>


        </div>
      </div>
    </section>
