



 <!-- Footer -->
<footer id="peu">
 <backtotop></backtotop>
    <div class="container blackCont">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
         
          <div class="row">
            <div class="list-group col-xs-12 col-md-4 ">

              <h4 class="list-group-item-heading">CONTACT</h4>
              <p class="list-group-item-text bold">VINTAGE ADDICTION</p>
              <p>contact@vintageaddictioncrew.com</p>
          </div>


          <div class="hidden-xs hidden-sm visible-md-4 col-md-4">
            <div class="logo">
              <a ui-sref="home">
        				<img src="../../assets/img/logo_VA_blanc.png" alt="">
              </a>
            </div>
          </div>



          <div class="social col-xs-12 col-md-4 text-right">
              <p id="followUs">Follow us!</p>
              <a target="_blank" href="http://www.instagram.com/va_vintageaddiction/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a target="_blank" href="http://www.facebook.com/VintageAddictionCrew"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a target="_blank" href="http://www.youtube.com/channel/UCFhpDFPHvj0e_aw6FvLMbBg"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
              <a target="_blank" href="http://www.vimeo.com/user30355839"> <i class="fa fa-vimeo" aria-hidden="true"></i></a>
              <a target="_blank" href="http://www.vavintageaddictioncrew.tumblr.com"> <i class="fa fa-tumblr" aria-hidden="true"></i></a>
              

          </div>
          </div>
      </div>
      </div>
  </div>

  <div class="fluid-container img-responsive center-block {{selectedPage}}">
  </div>




</footer>


<footer id="peu_home">
    <p class="text-center">All rights reserverd to Vintage Addiction Crew · contact@vintageaddictioncrew.com</p>
</footer>








</body>
</html>
