<!DOCTYPE html>
<html lang="ca-ES" ng-app="frontApp">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="We do Custom your Cars & Bikes. Taller con 15 años de experiencia en Barcelona restauramos y costumizamos motos y coches, clásicos o modernos.">
	<meta name="keywords" content="vintage, barcelona, vintage addiction, addiction barcelona, custom bikes, custom cars, maresme, mataro, arenys de mar,arenys munt, motos clasicas, cafe racer,cotxes ,custom motos , coches,calella, screamin festival, restauracion motos">
	
	<meta name="robots" content="noindex,nofollow" ng-if="noIndexPag">

     <meta name="viewport" content="width=device-width, initial-scale=1">

	<link hreflang="es" href="http://vintageaddictioncrew.com/"/>

	<title>{{title}} | VINTGE ADDICTION CREW</title>

	<!-- FOR ANGULAR ROUTING -->
	<base href="/">

	<!-- CSS  -->
	<!-- load bootstrap from CDN and custom CSS -->
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/animate.min.css">
	<link rel="stylesheet" href="../../assets/css/styles.css">
	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/ngGallery.css">
	<!-- FAV ICON  -->
	<link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/icons/fav/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/icons/fav/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/icons/fav/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/icons/fav/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/icons/fav/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/icons/fav/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/icons/fav/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/icons/fav/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/icons/fav/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../../assets/img/icons/fav/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/icons/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/icons/fav/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/icons/fav/favicon-16x16.png">
	<link rel="manifest" href="../../assets/img/icons/fav/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../../assets/img/icons/fav/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- JS -->
	<!-- load angular and angular-route via CDN -->
	<script src="../../assets/libs/angular.min.js"></script>
	<script src="../../assets/libs/angular-resource.min.js"></script>
	<script src="../../assets/libs/angular-ui-router.min.js"></script>
	<script src="../../assets/libs/angular-animate.min.js"></script>
	<script src="../../assets/libs/ngGallery.js"></script>



	<!-- LIBS  -->
	<script src="../../assets/libs/jquery.min.js"></script>
	<script src="../../assets/libs/bootstrap.min.js"></script>
	<script src="../../assets/libs/jquery.sticky.js"></script>
	<script src="../../assets/libs/wow.js"></script>
	<script src="../../assets/js/scripts.js"></script>
	<!-- CLOUDINARY -->
	<script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>  



	<!-- controllers -->
	<script src="../../app/controllers/front.mainCtrl.js"></script>
	<script src="../../app/controllers/front.homeCtrl.js"></script>
	<script src="../../app/controllers/userCtrl.js"></script>
	<script src="../../app/controllers/front.bikeCtrl.js"></script>
	<script src="../../app/controllers/front.bikesCtrl.js"></script>
	<script src="../../app/controllers/front.carCtrl.js"></script>
	<script src="../../app/controllers/front.carsCtrl.js"></script>
	<script src="../../app/controllers/admin.bikesCtrl.js"></script>
	<script src="../../app/controllers/admin.carsCtrl.js"></script>

	<!-- services -->
	<script src="../../app/services/front.bikeService.js"></script>
	<script src="../../app/services/front.carService.js"></script>
	<script src="../../app/services/preloaderService.js"></script>
	<script src="../../app/services/authService.js"></script>
	<script src="../../app/services/userService.js"></script>

	<!-- directives -->
	<script src="../../app/directives.js"></script>



	<!-- main Angular app files -->
	<script src="../../app/front.app.js"></script>
	<script src="../../app/front.routes.js"></script>


</head>
<body>

	<div ui-view="header" autoscroll="true"></div>

	<div ui-view="content"></div>

	<div ui-view="footer"></div>








</body>
</html>
