<loading ng-class="{'invisible': loaded==true}" ></loading>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top visible-xs visible-sm " role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Vintage <i class="llamp"></i>Addiction</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="home.bikes">BIKES</a>
                    </li>
                    <li>
                        <a ui-sref="home.cars">CARS</a>
                    </li>

                    <li>
                        <a ui-sref="home.media">MEDIA</a>
                    </li>
                    <li>
                        <a ui-sref="home.contact">CONTACT</a>
                    </li>       


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>






 <!-- Full Page Image Background Carousel Header -->
	<header id="myCarousel" class="carousel slide">
		<div class="page-header logo">
				<img src="../../assets/img/logo_VA_blanc.png" alt="">
		  <h1>VINTAGE ADDICTION</h1>
		</div>

			<!-- Indicators -->
			<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for Slides -->
			<div class="carousel-inner">

        <div ng-repeat="im in imageLocations" class="item slide{{$index+1}}" ng-class="{active:$first}" >
            <div background class="fill" id="slide{{$index+1}}" url="im"></div background>
            <div class="carousel-caption"></div>
          </div>
        </div>



			</div>

			<!-- Controls -->
			<a class="left carousel-control" ng-href="#myCarousel" data-slide="prev">
					<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" ng-href="#myCarousel" data-slide="next">
					<span class="icon-next"></span>
			</a>





			<nav id="nav-bottom-home" class="visible-md visible-lg visible-xlg">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div>
						<ul class="nav navbar-nav">
								<li>
										<a ui-sref="home.bikes">BIKES</a>
								</li>
								<li>
										<a ui-sref="home.cars">CARS</a>
								</li>

								<li>
										<a ui-sref="home.media">MEDIA</a>
								</li>
								<li>
										<a ui-sref="home.contact">CONTACT</a>
								</li>


						</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
      <social class="hidden-xs hidden-sm"></social>






	</header>
