


    <section class="sectionTitle llamp"><social class="hidden-xs"></social>
      <h2 class="wow flash">Media</h2>
    </section>



    <section id="reports" class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="page-header">
            REPORTS
          </div>



          <div class="grid row">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
              <a target="_blank" href="http://www.pipeburn.com/home/2013/07/31/bonneville-vintage-addiction-crew.html#.U9aUaSjURUM">
                  <div class="thumbnail">
                    <img class="img-responsive" src="../../assets/img/media/pipeburn_report_vintageaddiction.jpg" alt="pipeburn_report_vintageaddiction.jpg">
                    <div class="caption">
                      <h3>Bonneville' <br>Derbi Variant</h3>
                    </div>
                  </div>
                  <p>GO TO LINK <i class="fa fa-angle-right"></i></p>
                </a>
            </div>





            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
              <a target="_blank" href="http://blog.gessato.com/2016/03/28/yamaha-xv-750-by-vintage-addiction-crew/">
                <div class="thumbnail">
                  <img class="img-responsive" src="../../assets/img/media/gessato_report_vintageaddiction.jpg" alt="pipeburn_report_vintageaddiction.jpg">
                  <div class="caption">
                    <h3>YAMAHA XV 750 BY</h3>
                  </div>
                </div>
                <p>GO TO LINK <i class="fa fa-angle-right"></i></p>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
              <a target="_blank" href="http://thebikeshed.cc/2014/12/07/vintage-addiction-xj650/">
                <div class="thumbnail">
                  <img class="img-responsive" src="../../assets/img/media/bikeshed_report_vintageaddiction.jpg" alt="pipeburn_report_vintageaddiction.jpg">
                  <div class="caption">
                    <h3>VINTAGE ADDICTION <br>XJ650</h3>
                  </div>
                </div>
                <p>GO TO LINK <i class="fa fa-angle-right"></i></p>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
              <a target="_blank" href="http://www.xtremebikes.es/?portfolio=caferacers-24">
                <div class="thumbnail">
                  <img class="img-responsive" src="../../assets/img/media/cafe-racers_report_vintageaddiction.jpg" alt="pipeburn_report_vintageaddiction.jpg">
                  <div class="caption">
                    <h3>YAMAHA XV 750 BY</h3>
                  </div>
                </div>
                <p>GO TO LINK <i class="fa fa-angle-right"></i></p>
              </a>
            </div>
          </div>
        </div>



    </section>




    <section id="media" class="fluid-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
              <div class="page-header">
                VIDEOS
              </div>

              <div class="grid row">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
                  <div class="thumbnail">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/aoIP80EJ7_s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <div class="caption">
                      <h3>Making Of Offroad Custom Vintage Bike 2016</h3>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
                  <div class="thumbnail">
                      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/esgpEIy_rCo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      <div class="caption">
                      <h3>VINTAGE ADDICTION</h3>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
                  <div class="thumbnail">
                      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/gVUgUupPXwU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      <div class="caption">
                      <h3>VINTAGE ADDICTION CREW</h3>
                    </div>
                  </div>
                </div>




      </div>
      </div>

      </div>
    </div> <!--   container -->

    </section>
