


    <section class="sectionTitle llamp"><social class="hidden-xs"></social>
      <h2 class="wow flash">GARAGE</h2>
    </section>



    <section id="garage" class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="grid row">

            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><img class="img-responsive" src="../../assets/img/garage/garage_4.jpg" alt=""></p>

            <p class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm"><img class="img-responsive wow fadeInUp" src="../../assets/img/garage/garage_1.jpg" alt=""></p>
    <div  class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>
              <strong>Vintage Addiction</strong>
               somos un taller establecido cerca de Barcelona dedicados a la restauración y a la costumización de todo tipo de vehiculos clásicos, siempre con la mejor calidad y el mayor detalle en el diseño y concepto de transformación de éstos para satisfacer las necessidades de nuestros clientes.
              </p>

              <p>Trabajamos con los mejores profesionales del sector para poder ofrecer toda una gama de productos y opciones que sean polivalentes para llevar a cabo los proyectos encargados de la mejor manera y calidad.

              </p>

            </div>

              <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <p>Motos, coches, ya sean clásicos o modernos, siempre representan un reto para nosotros y nuestro equipo, para poder dar el sello distintivo que busca el cliente y nos caracteriza.
                </p>
                <p>Tanto el diseño, el concepto y los acabados son procesos que VA tiene mucho en cuenta ya que cuidar todos estos pasos grantizan un resultado final con éxito, en el cual el cliente siempre tomará parte para poder seguir de cerca el proceso.
                </p>


              </div>

              <p class="col-xs-12 col-sm-6 col-md-12 col-lg-12 visible-xs visible-sm"><img class="img-responsive wow fadeInUp" src="../../assets/img/garage/garage_1.jpg" alt=""></p>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <p><em>Vintage Addiction</em> cuenta con todo un equipo para el desarrollo de los proyectos, mecánicos, diseñadores, pintores y una larga lista de colaboradores, para hacer de tu idea una realidad.
Esta experiencia tiene el soporte de más de 15 años en el sector de la automoción.</p>

            <p><img class="img-responsive wow fadeInUp" src="../../assets/img/garage/garage_2.jpg" alt=""></p>


            <p>  <em>Vintage Addiction</em> garantiza siempre un diseño y trato exclusivo para el cliente, trabajando todos los detalles para poder llegar al producto deseado.</p>

       <p>Nuestra filosofía es la de un taller tradicional donde todo se construye a partir de zero y donde todas las ideas son posibles con dedicación, pasión y <i>savoir faire</i>.
En el equipo de <em>Vintage Addiction</em> todos somos amantes de la automoción que disfrutamos de nuestro trabajo!</p>
          





        </div>
      </div>
    </section>
