/* RESET STYLES */

a  { text-decoration: none!important;}
*{box-sizing: border-box;}
html,
body {
    height: auto;
		font-family: 'Helvetica','Market_Deco';
		font-size: 18px;
		background-color: #F9F9F9;
}


/* HelveticaUltraComp */
@font-face {
	font-family: 'HelveticaUltraComp';
	src: url('../fonts/HelveticaUltraComp.eot');
	src: local('☺'), url('../fonts/HelveticaUltraComp.woff') format('woff'), url('../fonts/HelveticaUltraComp.ttf') format('truetype'), url('../fonts/HelveticaUltraComp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/** Market_Deco **/
@font-face {
	font-family: 'Market_Deco';
	src: url('../fonts/Market_Deco/Market_Deco.eot');
	src: local('☺'), url('../fonts/Market_Deco/Market_Deco.woff') format('woff'), url('../fonts/Market_Deco/Market_Deco.ttf') format('truetype'), url('../fonts/Market_Deco/Market_Deco.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/** Helvetica **/
@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica/Helvetica.woff') format('woff'), url('../fonts/Helvetica/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** HelveticaComp **/
@font-face {
	font-family: 'HelveticaComp';
	src: url('../fonts/HelveticaComp/HelveticaComp.eot');
	src: local('☺'), url('../fonts/HelveticaComp/HelveticaComp.woff') format('woff'), url('../fonts/HelveticaComp/HelveticaComp.ttf') format('truetype'), url('../fonts/HelveticaComp/HelveticaComp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Helvetica-Condensed-Light **/
@font-face {
	font-family: 'Helvetica-Condensed-Light';
	src: url('../fonts/Helvetica-Condensed-Light/Helvetica-Condensed-Light.eot');
	src: local('☺'), url('../fonts/Helvetica-Condensed-Light/Helvetica-Condensed-Light.woff') format('woff'), url('../fonts/Helvetica-Condensed-Light/Helvetica-Condensed-Light.ttf') format('truetype'), url('../fonts/Helvetica-Condensed-Light/Helvetica-Condensed-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Lighthouse_PersonalUse **/
@font-face {
	font-family: 'Lighthouse_PersonalUse';
	src: url('../fonts/Lighthouse_PersonalUse/Lighthouse_PersonalUse.eot');
	src: local('☺'), url('../fonts/Lighthouse_PersonalUse/Lighthouse_PersonalUse.woff') format('woff'), url('../fonts/Lighthouse_PersonalUse/Lighthouse_PersonalUse.ttf') format('truetype'), url('../fonts/Lighthouse_PersonalUse/Lighthouse_PersonalUse.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: bottom;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

footer {
    margin: 50px 0;
}

/** LOADING **/

loading{
  background-color: #000;
  transition: all 3s;
   color: #fff;
    display: block;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999999;
    transition: all .3s ease;
    
}



loading .animated{ 
  width: 218px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -100px;
  text-align: center;
}

loading img{width: 100%}


loading h1{  
  color: #fff;
  font-family: 'HelveticaUltraComp';
}
loading .animated div{
  width: 30px;
    margin: 20px auto;
}




 /* ANIMATIONS ====================== */
  .spinner {
    animation:spin 1s infinite;
    -webkit-animation:spin 1s infinite;
    -moz-animation:spin 1s infinite;
  }
  
  @keyframes spin {
  from  { transform:rotate(0deg); }
   to    { transform:rotate(360deg); }
 }
 
 @-webkit-keyframes spin {
   from  { -webkit-transform:rotate(0deg); }
   to    { -webkit-transform:rotate(360deg); }
 }
 
 @-moz-keyframes spin {
   from  { -moz-transform:rotate(0deg); }  
   to    { -moz-transform:rotate(360deg); }
 }

 /* show and hide */
 /* animations to the ngShow and ngHide directives, the classes are .ng-hide-remove and .ng-hide-add. */
/* .show-hide-message.ng-hide-remove {
   -webkit-animation:zoomIn 0.3s both ease;
   -moz-animation:zoomIn 0.3s both ease;
   animation:zoomIn 0.3s both ease;
 }
*/


.ng-hide-remove {
-webkit-transition: 0.5s linear all;
-o-transition: 0.5s linear all;
-moz-transition: 0.5s linear all;
opacity: 0;
}
.ng-hide-remove.ng-hide-remove-active {
opacity: 1;
}
.my-animation-class.ng-hide-add {
-webkit-transition: 0.5s linear all;
-o-transition: 0.5s linear all;
-moz-transition: 0.5s linear all;
}
.ng-hide-add.ng-hide-add-active {
opacity: 0;
}










/* GENERAL CLASSES */
i.llamp {
	display: inline-block;
	width: 15px;
	height: 18px;
	background-position: center;
	position: relative;
	top: 4px;
	margin: 0px -3px;
}

.llamp{
	background: url('../img/bolt_vintage_addiction_crew_logo.png') no-repeat center;
	background-size: contain;
	height: 100%;
	width: 100%;
}


i.llamp_h{
  background: url('../img/llamp_horitzonal.svg') no-repeat top left;
  background-size: contain;
  width: 20px;
  height: 20px;
}
.llamp.black{
  background: url('../img/bolt_vintage_addiction_crew_logo_black.png') no-repeat center;
  background-size: contain;

}
pre{
    border: 0px;
    border-radius: 0px;
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: 200px;
    white-space: pre-line;
}

/*=========================================*\
							HOME
/*=========================================*/
/*Preload Slider images*/
background { height: 100%;width: 100%; background-color: red;display: block;}
#myCarousel social{
  position: absolute;
  margin-top: 20px;
  top: 0;
  right: 75px;
}


#myCarousel social *{ color: #fff;}


#slide1{
	background-image: url('../../assets/img/home/vintage_addiction_home_helmet.jpg');
  background-position: center;
}

#slide2{
	background-image: url('../../assets/img/home/vintage_addiction_home_custom-motocross.jpg')
}
#slide4{
	background-image: url('../../assets/img/home/vintage_addiction_home_jeep-wrangler.jpg')
}
#slide3{
	background-image: url('../../assets/img/home/vintage_addiction_home_yamaha_xj650.jpg')
}



.navbar-brand {
		border: 2px solid #fff;
    height: auto;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #fff!important;
	}

.navbar-brand .llamp {
    background: url('../img/bolt_vintage_addiction_crew_logo.png') no-repeat center center;
    background-size: contain;
    height: 25px;
    width: 20px;
    display: inline-block;
		position: relative;
		top: 8px;
		margin: -10px 1px 0px -5px;
	}



#myCarousel{
	height: calc(100% - 51px);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 50px;
}

#myCarousel .logo.page-header {margin-top: 20%;}

#myCarousel .logo.page-header img{height:140px}

#myCarousel .logo.page-header h1{font-size: 34px;}


 .logo.page-header{
	width: 170px;
	margin: 0 0 0 -85px;
	position: absolute;
	top:40px;
	left: 50%;
	z-index: 4;
	text-align: center;
  border-bottom: 0;
}

 .logo.page-header *{color: #fff; margin: 0 auto;display: block;}
 .logo.page-header img{
   width: 100%;
   height: auto;
 }

 .logo.page-header h1{
	font-family: 'HelveticaUltraComp';
	font-size: 40px;

}



.carousel-indicators li ,
.carousel-indicators li.active {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
   border-radius: 0px;
}
.carousel-indicators li.active {background-color: #fff;}


#nav-bottom-home{
	/*border: 1px solid grey;*/
	width: 300px;
  position: absolute;
  bottom:50px;
  left: 60px;
}
	#nav-bottom-home div ul li{
		display: block;
		width: 100%;
		font-family: 'Market_Deco';
		font-size: 18px;,
    font-weight: normal;
	}


		#nav-bottom-home div ul li a { padding: 2px;padding-left:17px; color: #fff; font-size: 20px;}
		#nav-bottom-home div ul li a:hover { background-color: transparent; }
		#nav-bottom-home div ul li:hover a:before {
      width: 40px;
      content: " ";
      position: absolute;
      left: -24px;
      top: 5px;
      height: 14px;
      background: url('../img/llamp_horitzonal.svg') no-repeat top left;
      background-size: 90% 100%;
      /*width: 24px;
      content: " ";
      position: absolute;
      left: -24px;
      top: 5px;
      height: 14px;
      background: url('../img/llamp_horitzonal.svg') no-repeat top left;
      background-size: contain;*/
    }
#peu_home{
  height: 20px;
  line-height: 18px;
  width: 100%;
  background: #000;
  text-align: center;
  font-size: 10px;
  font-family: 'Helvetica';
  margin: 0;
  color: #eee;
  padding: 2px 0;
  position: absolute;
  bottom: 0px;
}


#peu_home p { margin: 0;}


/**** back-to-top Button *****/
#back-to-top:hover{background-color: #000;}
#back-to-top {
    cursor: pointer;
    position: absolute;
    bottom: 470px;
    right: 20px;
    display:none;
    z-index: 99999;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    background: rgba(51, 51, 51, 0.51);
    border-radius: 50%;
    color: #FFF;
    transition: all .3s ease;
}

/*=========================================*\
								CONTENT TEMPLATE
/*=========================================*/

#header-general>.fluid-container{overflow: hidden!important;}

.imgParallax {
  width:100%;
	height:350px;
	position: relative;
	background-size: cover;
	background-position: 0px 0px;
	background-repeat: no-repeat;


}

.imgParallax.bikes {
	background-image: url('../img/capcaleres/header_bikes.jpg');
  background-position: right;

}
.imgParallax.cars {
	background-image: url('../img/capcaleres/header_cars.jpg');
  background-position-x: -180px; 

}
.imgParallax.garage {
	background-image: url('../img/capcaleres/header_garage.jpg');
}

.imgParallax.media {
	background-image: url('../img/capcaleres/header_media.jpg');
}
.imgParallax.contact {
	background-image: url('../img/capcaleres/header_contact.jpg');
}

.txtParallax  {
	position: absolute;
  top: 92px!important;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
	font-size: 36px;
	color: #ffffff;
}


/** TOPMENU **/

#nav-general .nav.navbar-nav{
	width: 100%;
	text-align: center;
  margin: 7.5px 0;

}


#nav-general .navbar-nav>li{
	display: block;
	float: none;
	font-family: 'Market_Deco','helvetica neue';
	font-size: 23px;
}

#nav-general .nav>li>a{padding-left: 0;padding-right: 0;}

#nav-general .navbar-nav>li i.llamp{
	height: 20px;
	top: 2px;
	position: relative;
	margin: 0 -5px;
}

/*#contactLink{margin-right: 70px;}*/


/** Text Capçalera **/
#header-general h1{ font-size: 33px; margin: 0!important;}



/* TITOL SECCIÓ */
.sectionTitle {
    padding: 5px 0;
    margin: 50px 0;
		position: relative;
}


.sectionTitle h2{
	font-size: 44px;
	font-family: 'Market_Deco';
  text-align: center;
}


.sectionTitle.llamp .social{
  position: absolute;
  right: 10px;
  top: -45px;
  text-align: right;
  z-index: 3;
}

.sectionTitle.llamp .social .fa:hover{color: #000;}
.sectionTitle.llamp .social .fa{
    padding: 0;
		display: inline-block;
		color: grey;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}

/**  THUMBS GRID   **/



.grid .img-thumbnail {
    border: none;
    height: auto;
    width: 100%;
    padding: 0;
    border-radius: 0;
}

.grid h3{
	font-family: 'Market_Deco';
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	color: #000;
	text-decoration: none;
}


/** PEU **/

#peu{
	background: #000;
	margin-bottom: 0;
	position: relative;
}


#peu .list-group{
	margin-bottom: 0px;
	color: #fff;
	font-size: 16px;
	padding-right: 0;
  text-align: center;
}

#peu+#peu_home{
	position: inherit;
}
/*



/** Peu text **/

  #peu .blackCont {
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
  }

#peu .list-group-item-heading{
font-size: 34px;
  margin-top: -7px;
  font-family: 'HelveticaUltraComp';
  margin-bottom: 21px;
}

#peu  p.bold{font-weight: bold;margin-top: 10px;font-size: 14px}


#peu .list-group-item-text {
font-family: 'Helvetica';
font-size: 12px;
font-weight: lighter;
}

/* Peu Logo  */

#peu .logo{
  height: 110px;
  text-align: center;
}
#peu .logo img{height: 100%; width: auto;}


/* Peu Social */

#peu .social {
	text-align: center;
	margin: 20px auto 50px;
}
#peu #followUs{
  font-size: 40px;
  font-family: 'Lighthouse_PersonalUse','HelveticaUltraComp','Helvetica';
  margin: 0;
}


#peu .social p{
	margin: 10px auto 10px;
  color: #FFF;
  font-size: 14px;
}

#peu .social .fa {
    background-color: #fff;
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 22px;
    color: #1F1B1B;
  }

#peu .social .fa:hover {
		color: darkgrey;
	}

#peu .img-responsive.center-block{
	width: 100%;
  height: 100px;

    background-size: cover;
}

#peu .img-responsive.center-block.bikes{
  background-image:url('../img/peus/footer_bikes.jpg');
}
#peu .img-responsive.center-block.cars{
  background-image:url('../img/peus/footer_cars.jpg');
}
#peu .img-responsive.center-block.garage{
  background-image:url('../img/peus/footer_garage.jpg');
}
#peu .img-responsive.center-block.media{
  background-image:url('../img/peus/footer_media.jpg');
}
#peu .img-responsive.center-block.contact{
  background-image:url('../img/peus/footer_contact.jpg');
}


/*=========================================*\
							BIKES & CARS
/*=========================================*/


/** -------  Gallery   ---------- **/

.viewerBox img{
	width:  97%!important;
}

#header_desc,
.left-col-model>*,
.right-col-model>*{
	/*padding:  0 0 0 0;*/
	border-bottom: 1px solid #999;
	display: block;
  font-size: 20px;
}

#header_desc,
.right-col-model header,
.left-col-model header{
	margin-bottom: 5px;
	height: 40px;
	line-height: 40px;
  font-family: "Market_Deco";
  font-size: 24px;
}

/*=========================================*\
							BIKE & CAR
/*=========================================*/
/* Titol*/
#bikeTitle,
#carTitle{
  font-family: "Market_Deco";
  font-size: 30px;
}

/* Label */

.right-col-model label,
.left-col-model label{
  font-size: 24px;
  text-transform: capitalize;
  font-family: "HelveticaComp";
  font-weight: lighter;
  padding-right: 5px;
  margin-bottom: 0;
}

/*=========================================*\
							GARAGE
/*=========================================*/


.page-header a {color: #000;}

#garage p{text-align: justify;margin-bottom: 20px;}

#garage p img {width: 100%;}

#garage .page-header {
  border-bottom: 1px solid #e0e0e0;
  display: inline-block;
}

#garage .page-header a{
  border: 3px solid #000;
  display: inline-block;
  padding: 3px 2px 0;
  font-size: 25px;
  line-height: 18px;
}




/*=========================================*\
							MEDIA
/*=========================================*/

/* REPORTS */

#media .grid h3,
#reports .grid h3{margin-bottom: 0;margin-top: 0; height: 38px;}

#media .thumbnail,
#reports .thumbnail{padding: 20px;padding-bottom: 0; margin-bottom: 0; background-color: #EDEDED; box-shadow: 2px 2px 6px -3px;
    border-radius: 0px;}

#media .thumbnail+p,
#reports .thumbnail+p{
  position: relative;
  text-align: right;
  color: black!important;
  font-size: 10px;
  top: 10px;
  margin-bottom: 60px;
}

#reports .thumbnail+p i.fa{  font-size: 13px;}


/* VIDEOS */
#media {
    background-color: #E5E5E5;
    margin: 150px 0 -50px 0;
    padding: 50px 0 100px;
}
#media .thumbnail{background-color: transparent; border: 0;}
/*=========================================*\
							CONTACT
/*=========================================*/

#contact {
  background: #DFDFDF;
  display: block;
  height: auto;
  padding: 20px 0;
  margin-bottom: 190px;
}

#contact>.row{margin-left: 0;margin-right: 0;}
#contact  .txtParallax *{
  color: #000;
}
#contact  .txtParallax{
  color: #000;
  position: relative;
  top: 0!important;
  left: 0;
  margin: 0 auto;
  min-width: 220px;
}

#contact  .txtParallax img{
  width: 100%;
  height: auto;
}
#contact .logo.page-header i.llamp,
#contact social *{display: inline-block;}

#contact .logo.page-header h1 { font-size: 44px; margin-bottom: 40px;}


#contact p {
  font-size: 16px;
  text-align: left;
  font-family: Helvetica-Condensed-Light;
}

#contact p i.llamp{color: #fff;}

#contact social {margin-top: 30px;}



/*==========  Mobile First Method  ==========*/

	 /* Custom, iPhone Retina */
	 @media only screen and (min-width : 320px) {
			.navbar-brand { margin-left: 15px;}
	 }

	 /* Extra Small Devices, Phones */
	 @media only screen and (min-width : 480px) {

	 }

	 /* Small Devices, Tablets MEDIA 768px*/
	 @media only screen and (min-width : 768px) {



		 /** -------  GENERAL  ---------- **/


       #nav-general .col-20{
         width: 19.4%;

       }

      #nav-general .nav.navbar-nav {
        float: left;
        margin: 0 auto;;
      }

  		#nav-general .navbar-nav>li{
  			display: inline-block;
  		}
  		#nav-general .social .fa{
  			display: inline-block;
  		}

  		.page-header {
  		    border-bottom: 2px solid #e0e0e0;
  		}

      /** HOME **/
      #myCarousel .logo.page-header {margin-top: 100px;margin-left: -109px;width: 218px;}

     
      #myCarousel .logo.page-header img{height: auto;  width: 100%; }

      #myCarousel .logo.page-header h1{font-size: 43px;}


      /** CONTACT **/
      #contact #vintage_addidction_address{ width: 100%; margin: 0 auto;}


	 }


   @media only screen and (min-width : 768px) and (max-width:991px){
   .navbar-nav>li>a{font-size: 1.1em;}
      }

	 /* Medium Devices, Desktops MEDIA 992px*/
	 @media only screen and (min-width : 992px) {


     #back-to-top {
         bottom: 260px;
       }

		/** -------  HOME  ---------- **/
	 #myCarousel{
			 height: 100%;
			 top: 0;
		 }


		 /** -------  GENERAL  ---------- **/
     #nav-general .col-20{
       width: 20%;
     }
    #nav-general .navbar-nav>li{
		 	display: inline-block;
      float: left;
		}



		/** -------  PEU  ---------- **/
    #peu .list-group { text-align: left;}

		#peu .social {
      text-align: right;
      margin: 0;
		}

    #peu .blackCont {
        height: 150px;
    }

/** CONTACT **/
#contact .logo.page-header h1{margin-bottom: 90px;}

	 } /* /min-width : 992px*/




   /* Large Devices, Wide Screens MEDIA 1200px */
   @media only screen and (min-width : 1200px) {

     /** TOPMENU **/
     #bikesLink{margin-right: 70px;}
     #contactLink{margin-right: 70px;}

     /* HOME */
     #slide1{
     	background-image: url('../../assets/img/home/vintage_addiction_home_helmet_retina.jpg')
     }

     #slide2{
     	background-image: url('../../assets/img/home/vintage_addiction_home_custom-motocross_retina.jpg')
     }
     #slide4{
     	background-image: url('../../assets/img/home/vintage_addiction_home_jeep-wrangler_retina.jpg')
     }
     #slide3{
     	background-image: url('../../assets/img/home/vintage_addiction_home_yamaha_xj650_retina.jpg')
     }

    /* GALLERY */
    .ng-gallery-content > img{
      margin-top: 15px!important;
      width: 80%;
      max-width: 1200px;
      max-height: none!important;
    }


   }


  /* Portàtil  MEDIA 1440px*/
  @media only screen and (min-width : 1400px) {
    /**** HOME ****/
    #myCarousel .logo.page-header {
        width: 290px;
        margin-left: -145px;
    }
    #myCarousel .logo.page-header h1{  font-size: 58px; }

}


  @media only screen and (min-width : 1600px) {


    /** MEDIA **/
    .imgParallax.cars {background-position-x: 0px; }

  }


  /* Large screens ----------- MEDIA IMAC */
  @media only screen  and (min-width : 1824px) {




   }



/*=====================================*\
                ADMIN
\*=====================================*/


/* NAV BAR */

.navbar-brand.cms{
  height: 30px; 
  padding: 1px 2px;
  width: 185px;
  text-align: center;
  font-size: 18px;
}

.admin_thumb{
  width: 130px;
  border: 0px;
  padding: 0;
  border-radius: 0px;

  position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

#saveBikeForm .img-thumbnail{
  padding: 1px;
  border-radius: 0;
  border-color: #FFF;
}



.admin_thumb:hover{
    box-shadow: 0px 0px 1000px #e0e0e0;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
    transform: scale(2);
    border: 1px solid #e0e0e0;
 }


.fixedMessage{
  position: fixed;
  top: 0px;
  width: 100%;
  background: #FFF;
  z-index: 1;
  margin-bottom: 0;
  text-align: center;
}

.fixedMessage .alert{
  border-radius: 0;
  margin-bottom: 0;
}

#saveBikeForm header{
  margin-bottom: 5px;
  height: 40px;
  line-height: 40px;
  font-family: "Market_Deco";
  font-size: 24px;
}

#saveBikeForm #rebuildHeader{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
#saveBikeForm .btn{
    margin-top: 50px;
    margin-bottom: 50px;
}

#saveBikeForm input{
  width: 100%;
}
#saveBikeForm textarea{
  width: 100%;
  height: 230px;
}


.invisibleInput,
.invisibleInput *{
  border: 0;
  background: transparent;
  font-size: 0.7em;
}

/*=====================================*\
				STICKY NAVBAR
\*=====================================*/

	 #sticky {
	     padding: 0.5ex;
	     width: 600px;
	     background-color: #333;
	     color: #fff;
	     font-size: 2em;
	     border-radius: 0.5ex;
	 }
	 #sticky.stick {
	     position: fixed;
	     top: 0;
	     z-index: 10000;
	     border-radius: 0 0 0.5em 0.5em;
	 }
