


    <section class="sectionTitle llamp"><social class="hidden-xs"></social>
      <h2 class="wow flash">Contact</h2>
    </section>



    <section id="contact" class="fluid-container">

      <div class="grid row">

        <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 wow fadeInLeft">
          <div class="txtParallax logo page-header">

            <a ui-sref="home">
              <img src="../../assets/img/logo_VA_negre.png" alt="">
              <h1>VINTAGE ADDICTION</h1>
            </a>

            <p><i class="llamp black"></i> contact@vintageaddictioncrew.com</p>
          </div>

        </div>





    </section>
