


    <section class="sectionTitle llamp"><social class="hidden-xs"></social>
      <h2 class="wow flash">Contact</h2>
    </section>



    <section id="contact" class="fluid-container">

      <div class="grid row">

        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 wow fadeInLeft">
          <div class="txtParallax logo page-header">

            <a ui-sref="home">
              <img src="../../assets/img/logo_VA_negre.png" alt="">
              <h1>VINTAGE ADDICTION</h1>
              <h1> styles linia 833 descomentar</h1>
            </a>
            <p><i class="llamp black"></i> C/Amadeu Vives, 15</p>
            <p><i class="llamp black"></i> Arenys de Munt, BCN</p>
            <p><i class="llamp black"></i> 08358, Barcelona</p>
            <p><i class="llamp black"></i> contact@vintageaddictioncrew.com</p>
          </div>

        </div>

        <div class="col-xs-10 col-xs-offset-1  col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 wow fadeInRight">
          <a href="https://goo.gl/maps/RyBA8m4j5N32"><img id="vintage_addidction_address" class="img-responsive" src="../../assets/img/contact/map_location_vintage_addiction_garage.jpg" alt=""></a>
        </div>



    </section>
