
<div class="container">
	<div class="row col-xs-12">
		

		<div class="page-header">
			<h1>
				MOTOS 
				<a ui-sref="home.adminBike" class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span> 
					Nova Moto
				</a>
			</h1>

		</div>

		



		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					
					<th>id</th>
					<th>Marca</th>
					<th>Model</th>
					<th></th>
					<th class="col-sm-2"></th>
				</tr>
			</thead>
			<tbody>
				<tr><td ng-show="processing">
					<div class="jumbotron text-center" >
						<span class="glyphicon glyphicon-repeat spinner"></span>
						<p>Carregant les Motos...</p>
					</div>
				</td></tr>			
				<tr ng-repeat="bike in bikes | orderBy: '-_id' " ng-show="bikes && !processing">
					<td><a ui-sref="home.bike({id:bike._id})">{{ bike._id }}</a></td>
					<td>{{ bike.manufacturer }}</td>
					<td>{{ bike.model }}</td>
					<td><img ng-src={{bike.thumb}} class="img-responsive img-thumbnail center-block admin_thumb" alt="{{bike.manufacturer}} {{bike.model}}"></td>

					<td class="col-sm-2">
						<a ui-sref="home.editBike({id:bike._id})" class="btn btn-danger">Edit</a>
						<a ng-click="deleteBike(bike._id)" class="btn btn-primary">Esborra</a>
					</td>
				</tr>
			</tbody>
		</table>


	</div>

</div>
