
  <!-- Navigation -->
     <nav id="nav-general" class="navbar navbar-inverse navbar-static-top " role="navigation">
         <div class="container">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand visible-xs" ui-sref="home">Vintage <i class="llamp"></i>Addiction</a>
             </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav">
                     <li class="col-sm-2 col-sm-offset-3" ng-class="{active:selectedPage=='bikes'}">
                         <a ui-sref="home.adminBikes">BIKES</a>
                     </li>
                     <li class="col-sm-2 " ng-class="{active:selectedPage=='bikes'}">
                        <a class="navbar-brand cms" ui-sref="home">Vintage <i class="llamp"></i>Addiction</a>
                     </li>
                     <li class="col-sm-2" ng-class="{active:selectedPage=='cars'}">
                         <a ui-sref="home.adminCars">CARS</a>
                     </li>
                </ul>
             </div>
             <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
     </nav>
