
<div class="container">
	<div class="row col-xs-12">
		

		<div class="page-header">
			<h1>
				Cotxes 
				<a ui-sref="home.adminCar" class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span> 
					Nou Cotxe
				</a>
			</h1>

		</div>

		



		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					
					<th>id</th>
					<th>Marca</th>
					<th>Model</th>
					<th></th>
					<th class="col-sm-2"></th>
				</tr>
			</thead>
			<tbody>
				<tr><td ng-show="processing">
					<div class="jumbotron text-center" >
						<span class="glyphicon glyphicon-repeat spinner"></span>
						<p>Carregant les Cotxes...</p>
					</div>
				</td></tr>			
				<tr ng-repeat="car in cars | orderBy: '-_id' " ng-show="cars && !processing">
					<td><a ui-sref="home.car({id:car._id})">{{ car._id }}</a></td>
					<td>{{ car.manufacturer }}</td>
					<td>{{ car.model }}</td>
					<td><img ng-src={{car.thumb}} class="img-responsive img-thumbnail center-block admin_thumb" alt="{{car.manufacturer}} {{car.model}}"></td>

					<td class="col-sm-2">
						<a ui-sref="home.editCar({id:car._id})" class="btn btn-danger">Edit</a>
						<a ng-click="deleteCar(car._id)" class="btn btn-primary">Esborra</a>
					</td>
				</tr>
			</tbody>
		</table>


	</div>

</div>
