<div class="fixedMessage show-hide-message" ng-show="message">


	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info">
				{{ message }}
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="page-header">
			<h1 ng-if="type == 'create'">Create Bike</h1>
			<h1 ng-if="type == 'edit'">Edit Bike</h1>
		</div>
		
		<form class="form-horizontal saveForm" ng-submit="saveBike()">	
			
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-6 control-label">Id:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control invisibleInput" name="_id" ng-model="bike._id"   readonly="true">
					</div>	
				</div>

				<div class="form-group">
					<label class="col-sm-6 control-label">Make</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="make" ng-model="bike.make"   >
					</div>	
				</div>
					
				<div class="form-group">
					<label class="col-sm-6 control-label">Creator</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="creator" ng-model="bike.creator" >
					</div>
				</div>	
					
				<div class="form-group">
					<header></header>
					<label class="col-sm-6 control-label">Manufacturer</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="manufacturer" ng-model="bike.manufacturer" >
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-6 control-label">Model</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="model" ng-model="bike.model" >
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-6 control-label">Year of Build</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="year_of_build" ng-model="bike.year_of_build">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<header>
						Description
					</header>
					<textarea name="description" ng-model="bike.description"></textarea>	
				</div>
			</div>


			
	<div class="col-sm-12">
		<hr>
		<header id="rebuildHeader">Rebuild</header>

		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-6 control-label">Bike Category/Gene</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="category" ng-model="bike.category">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Year of Rebuild</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="year_of_rebuild" ng-model="bike.year_of_rebuild">
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Frame/Modifications</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="frame_mods" ng-model="bike.frame_mods">
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Body Work</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="body_work" ng-model="bike.body_work">
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Motor</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="motor" ng-model="bike.motor">
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Gas Tank</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="gas_tank" ng-model="bike.gas_tank">
				</div>
			</div>
			
		</div>
		


		<div class="col-sm-6">
			
					
			<div class="form-group">
				<label class="col-sm-6 control-label">Exhaust</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="exhaust" ng-model="bike.exhaust">
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Front Suspensions/Fork</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="forks" ng-model="bike.forks">
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Rear Suspensions/Shoks</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="shoks" ng-model="bike.shoks">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Tire/Wheels</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="wheels" ng-model="bike.wheels">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Brakes</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="brakes" ng-model="bike.brakes">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Hand Controls</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="hand_controls" ng-model="bike.hand_controls">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-6 control-label">Paint</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="paint" ng-model="bike.paint">
				</div>
			</div>

		</div>
	</div>



	
	<div class="col-sm-12">	
		<hr>
		<header id="rebuildHeader">Fotos</header>




		<div class="form-group">
			<label class="col-sm-6 control-label"><a href="#" ng-click="uploadThumb()">Puja Miniatura</a></label>
			<div class="col-sm-6">	
		    	<img class="col-xs-6 col-sm-4 img-responsive img-thumbnail center-block" ng-src={{bike.thumb}}>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-6 control-label"><a href="#" ng-click="uploadImages()">Puja Imatges a Galeria</a></label>
			<div class="col-sm-6" >	
		    	<img ng-repeat="img in bike.imgs" class="col-xs-6 col-sm-4 img-responsive img-thumbnail center-block"  ng-src={{img}} class="img-responsive img-thumbnail center-block">
<!--     			<div class="col-xs-12" ng-repeat="image in bike.imgs"><p>{{image}}</p></div>
 -->
			</div>
		</div>
	</div>


	

	<div class="col-sm-12">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-6">
				<button type="submit" class="btn btn-success btn-lg btn-block">
					<span ng-if="type == 'create'">Create Bike</span>
					<span ng-if="type == 'edit'">Update Bike</span>
				</button>

			</div>
			<div class="col-sm-3">
				<a ui-sref="home.adminBikes" class="btn btn-danger btn-lg">Cancel·la</a>
			</div>
		</div>
	</div>	



	

</form>
</div>
</div>