<br>
<br>
<br>


<div class="container">

  <div class="row col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">

    <div class="jumbotron">
      <h1>Login </h1>   

      <form ng-submit="doLogin(user)">
        
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" ng-model="user.username">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" ng-model="user.password">
        </div>

        <div class="alert alert-danger" ng-if="error">
          {{ error }}
        </div>

        <button type="submit" class="btn btn-block btn-primary">
          <span ng-if="!processing">Login</span>
          <span ng-if="processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
        </button>

      </form>
    </div>
    
  </div>

</div>

