<div class="container">
	<div class="row">
		
<form class="form-horizontal" method="post" action="/images/upload" enctype="multipart/form-data">
<div class="col-sm-6">
	<div class="form-group">
		<label class="col-sm-6 control-label">Name</label>
		<div class="col-sm-6">
			<input type="text" name="imgName" class="form-control" value="lou" >
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-6">
			<input type="file" multiple="multiple" name="imatges" class="form-control" ng-model="img.file">
		</div>
	</div>
	
</div>	

<div class="col-sm-12">
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-6">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="type == 'create'">Create Bike</button>
		</div>
	</div>
</div>
</form>
</div>
</div>